@charset "UTF-8";
img.lixo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
img.lin{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
img.luke{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

body{
    background: rgb(0,0,0);
background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(17,109,159,0.9920343137254902) 59%);
    text-align: center;
    color: yellow;
    font-size: 30px;
    font-family: 'Comic Sans MS', cursive;
}



h1{
    font-size: 45px;
    color: blue;
    text-decoration: none;
}
h2{
    font-size: 25px;
    color: deepskyblue;
    text-decoration: none;
}
h3{
    font-size: 25px;
    color: salmon;
    text-decoration: none;
}