@charset "UTF-8";
img.lixo{height: 300px; width: 400px;}
img.lin{height: 300px; width: 400px;}
img.luke{height: 300px; width: 400px;}

body{
    background-color: black;
    color: yellow;
    font-size: 30px;
    font-family: 'Comic Sans MS', cursive;
}



h1{
    font-size: 45px;
    color: blue;
}
h2{
    font-size: 25px;
    color: deepskyblue;
}
h3{
    font-size: 25px;
    color: salmon;
}